@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto:wght@400;700&display=swap');
:root{
    --bg: rgb(229, 229, 229);
    --text: rgb(54, 69, 79);
    --element-bg: rgb(250, 249, 246);
    --shadow:rgba(255, 255, 255, 0.5);
    --shadow2:rgba(70, 70, 70, 0.12);
}

*{
    font-family: "poppins";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(54, 69, 79);
}

html,body{
    padding: 2rem;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--bg) ;
}

#container{
    transition: all 0.7s;
    padding:2rem;
    min-height: 80vh;
    height: fit-content;
    border-radius:1rem 4rem;
    width: 70vw;
    transform: translateY(80px);
    transform: translateX(8px);
    box-shadow: 16px 16px gray;
    border: 1px solid var(--text);
}

#container:hover{
    transform: translateY(-3px);
    transform: translateX(-3px);
    box-shadow: inset -10px -10px 15px var(--shadow), 
    inset 10px 10px 15px var(--shadow2);
    border:none;
}

header{
    margin-top: 1em;
    border-radius: 2rem;   
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

#search{
    gap: .5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#searchTask{
    all:initial;
    font-family: "poppins";
    padding: 0 1rem;
    background: var(--element-bg);
    border-radius: 2rem;
    height: 100%;
    cursor: text;
    color: var(--text);
    display: none;
}

#searchbtn,#modebtn,#dotsTask,#addTask,#addDate,#sortbtn,#editbtn,#deletebtn,#checkbox,.editbtn,.deletebtn,.checkbox{
    all: initial;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--element-bg);
    padding: .8rem .9rem;
    overflow: hidden;
    height: max-content ;
}


#searchbtn:hover,#dotsTask:hover,#editbtn:hover,#deletebtn:hover,#checkbox:hover,#modebtn:hover,#dotbtn:hover,#addTask:hover,#addDate:hover,#sortbtn:hover,.editbtn:hover,.deletebtn:hover,.checkbox:hover{
    border: solid 0.2px var(--text);
}

#dotsTask{
    display: none;
}

main{
    margin-top: 2rem;
    height: fit-content;
    width: 100%;
}

#addTaskbar{
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem;
}

#writeTask{
    all: initial;
    font-family: "poppins";
    background: var(--element-bg);
    width: 95%;
    height: 100%;
    border-radius: 3rem;
    padding: 0rem 1rem;
    color: var(--text);
}

#sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    height: 3rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
}

#sortOptions{
    display: none;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 2rem;
}

input[type=radio]{
    cursor: pointer;
}

label{
    margin:0 1rem 0 0.4rem;
    transition: 0.5s all;
    cursor: pointer;
    color: var(--text);
    font-weight: 300;
}



#tasks{
    height: fit-content;
    width: 100%;
}

.addedTask{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 3rem;
    width: 100%;
    position: relative;
}

#btns{
    border-top-right-radius:5rem;
    border-bottom-right-radius:5rem;
    height: fit-content;
    width: 10.5rem;
    position: absolute;
    background-color: var(--bg);
    right: 3.4rem;
    display: none;
}

.editTask{
    all: initial;
    font-family: "poppins";
    padding: 0rem 1rem;
    background: var(--element-bg);
    border-radius: 3rem;
    width:90%;
    height: 100%;
    color: var(--text);
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

#serchResultPart{
    position: absolute;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    backdrop-filter:blur(5px);
    border: 1px solid white;
    top:5.3rem;
    border-radius: 1rem;
    background: transparent;
    height: fit-content;
    width: 80%;
}

@media  screen and (max-width:600px){
    html,body{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container{
        padding:1rem;
        min-height:100vh;
        height: 100vh;
        border-radius:0;
        width:100vw;
        transform: translateY(0px);
        transform: translateX(0px);
        box-shadow:none;
        border: none;
    }

    #container:hover{
        box-shadow: none;
    }

    #searchTask{
        width: 30%;
    }

    #writeTask{
        width:73%;
        height: 100%;
        border-radius: 3rem;
        padding: 0rem 1rem;
        color: var(--text);
    }

    main{
        margin-top: 5rem;
    }
    
    .editbtn,.deletebtn,.checkbox{
        display: none;
    }


    #dotsTask{
        display: flex;
    }

    #btns{
        display: none;
        justify-content: end;
        align-items: center;
    }

    #editbtn,#deletebtn,#checkbox{
        display: flex;
    }

}




