@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto:wght@400;700&display=swap');
:root{
    --bg: rgb(229, 229, 229);
    --text: rgb(54, 69, 79);
    --element-bg: rgb(250, 249, 246);
    --shadow:rgba(255, 255, 255, 0.5);
    --shadow2:rgba(70, 70, 70, 0.12);
}

*{
    font-family: "poppins";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(54, 69, 79);
}

html,body{
    padding: 2rem;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--bg) ;
}

#container{
    transition: all 0.7s;
    padding:2rem;
    min-height: 80vh;
    height: fit-content;
    border-radius:1rem 4rem;
    width: 70vw;
    transform: translateY(80px);
    transform: translateX(8px);
    box-shadow: 16px 16px gray;
    border: 1px solid var(--text);
}

#container:hover{
    transform: translateY(-3px);
    transform: translateX(-3px);
    box-shadow: inset -10px -10px 15px var(--shadow), 
    inset 10px 10px 15px var(--shadow2);
    border:none;
}

/* navbaar */
header{
    margin-top: 1em;
    border-radius: 2rem;   
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#search{
    gap: .5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#searchTask{
    all:initial;
    font-family: "poppins";
    padding: 0 1rem;
    background: var(--element-bg);
    border-radius: 2rem;
    height: 100%;
    cursor: text;
    color: var(--text);
}

#searchbtn,#modebtn,#addTask,#addDate,#sortbtn,.editbtn,.deletebtn,.checkbox{
    all: initial;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--element-bg);
    padding: .8rem .9rem;
    overflow: hidden;
    height: max-content ;
}

#searchbtn:hover,#modebtn:hover,#addTask:hover,#addDate:hover,#sortbtn:hover,.editbtn:hover,.deletebtn:hover,.checkbox:hover{
    border: solid 0.2px var(--text);
}

main{
    margin-top: 2rem;
    height: fit-content;
    width: 100%;
}

#addTaskbar{
    display: flex;
    height: 3rem;
    border-radius: 3rem;
}

#writeTask{
    all: initial;
    font-family: "poppins";
    background: var(--element-bg);
    width: 85%;
    height: 100%;
    border-radius: 3rem;
    padding: 0rem 1rem;
    color: var(--text);
}

#sort{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2rem;
    height: 3rem;
    margin-bottom: 1rem;
}

#tasks{
    height: fit-content;
    width: 100%;
}

.addedTask{
    margin-top: 1rem;
    height: 3rem;
    display: flex;
    width: 100%;
}

.editTask{
    all: initial;
    font-family: "poppins";
    padding: 0rem 1rem;
    background: var(--element-bg);
    border-radius: 3rem;
    width:90%;
    color: var(--text);
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

/* @media (prefers-color-scheme: dark){
    :root{
        --bg: rgb(54, 69, 79);
        --text: rgb(229, 229, 229);
        --element-bg: rgb(40, 40,43);
        --shadow:rgba(0, 0, 0, 0.448);
        --shadow2:rgba(255, 255, 255, 0.153);
    }
} */




